.fullHeader {
  margin: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fafafa;
  width: 100%;
  min-height: 15%;
  z-index: 999;
  padding: 0 20px;
}

.logo {
  margin-left: 20px;
}
