.mainContainer {
  margin-top: 2rem;
  margin-left: 2rem;
  min-width: 90vw;
  max-height: 90vh;
}

.container {
  display: flex;
  max-height: calc(90vh - 3rem);
}

.eventList {
  display: flex;
  flex-direction: column;
  flex: 2;
  margin-bottom: 2rem;
  overflow-y: scroll;
}

.formContainer {
  flex: 3;
}
